body {
    font-family: League Spartan;
}

div {
    margin: 20px 40px 40px 40px;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: left;
    margin-top: 15px;
}

table th {
    padding: 18px 88px 18px 40px;
    font-weight: 400;
}

table thead {
    font-size: 21px;
}

label {
    font-weight: 500;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 400;
}

#register {
    background-color: black;
    color: white;
}